<p>
  <h1><%=h @resource.title %></h1>

	<% if @resource.document.exists? then %>
  		<p>
			<a href="<%=h @resource.document.url %>">Download</a>
		</p>
	<% else %>
		<p> There is no document attached, please upload one. </p>
	<% end %>

</p>


<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>